In [1]:
import pandas as pd
import numpy as np

# Custom Code imports
import sys
sys.path.insert(0, '/Users/briankalinowski/PycharmProjects/FakeNewsChallenge/Code')
import DataProcessing as pro

## Real News 

- Rename columns
- **Assign a value of 1 as the valid_score feature.**

In [15]:
real_news_content = pd.read_csv('/Users/briankalinowski/Desktop/Data/General_News/all_the_news.csv')
real_news_content = real_news_content[['title', 'content', 'publication']]
real_news_content = real_news_content.rename(columns={'content': 'text', 'publication': 'type'})
real_news_content = real_news_content.dropna()
real_news_content['valid_score'] = 1
real_news_content.head()

,title,text,type,valid_score
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...,New York Times,1
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood...",New York Times,1
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri...",New York Times,1
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t...",New York Times,1
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ...",New York Times,1

In [16]:
real_news_content.type.value_counts()

Breitbart              23781
New York Post          17493
NPR                    11992
CNN                    11488
Washington Post        11114
Reuters                10709
Guardian                8681
New York Times          7803
Atlantic                7179
Business Insider        6757
National Review         6203
Talking Points Memo     5213
Vox                     4947
Buzzfeed News           4854
Fox News                4354
Name: type, dtype: int64

In [17]:
real_news_content.isnull().sum()

title          0
text           0
type           0
valid_score    0
dtype: int64

In [18]:
word_length = real_news_content.text.str.replace('[^0-9a-zA-Z .!?,]', '', regex=True).str.split(' ').str.len()
real_news_content['word_len'] = word_length
real_news_content.head()

,title,text,type,valid_score,word_len
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...,New York Times,1,920
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood...",New York Times,1,4905
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri...",New York Times,1,2521
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t...",New York Times,1,2212
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ...",New York Times,1,741

## Get subsample of articles

In [22]:
real_news_subset = pro.get_real_news_sample(real_news_content, 'type', 'word_len')
print(real_news_subset.shape)
real_news_subset.head()

(14484, 5)

,title,text,type,valid_score,word_len
0,New Guideline Will Allow First-Year Doctors to...,doctors in training will now be permitted to...,New York Times,1,779
1,Retesting of Doping Samples Could Bar Dozens F...,Dozens of athletes expecting to compete at the...,New York Times,1,779
2,Ali’s Least Memorable Fight - The New York Times,"Muhammad Ali, who died Friday, was part of som...",New York Times,1,779
3,Protests Erupt in Charlotte After Police Kill ...,"About 16 police officers in Charlotte, N. C. w...",New York Times,1,779
4,Amy Adams on Eyes That Deceive - The New York ...,Amy Adams has received five Oscar nominations ...,New York Times,1,779

In [23]:
real_news_subset.type.value_counts()

Vox                    1000
Guardian               1000
Washington Post        1000
CNN                    1000
Reuters                1000
New York Times         1000
Business Insider       1000
Breitbart              1000
Buzzfeed News          1000
Atlantic               1000
New York Post          1000
National Review        1000
NPR                    1000
Fox News                907
Talking Points Memo     577
Name: type, dtype: int64

In [120]:
save_path = '/Users/briankalinowski/Desktop/Data/General_News/real_news.csv'
real_news_subset.to_csv(path_or_buf=save_path, header=True, index=None)