In [1]:
import pandas as pd
import numpy as np

In [8]:
fake_news_content = pd.read_csv('/Users/briankalinowski/Desktop/Data/fake_news_nlp_content.csv')
fake_news_content['valid_score'] = 0
fake_news_content.head()

,title,text,type,tokenized_headline,tokenized_content,valid_score
0,Muslims BUSTED They Stole Millions In Govt Ben...,Print They should pay all the back all the mon...,bias,muslims,somalis,0
1,Re Why Did Attorney General Loretta Lynch Plea...,Why Did Attorney General Loretta Lynch Plead T...,bias,loretta lynch,loretta lynch barracuda brigade iran loretta l...,0
2,BREAKING Weiner Cooperating With FBI On Hillar...,Red State Fox News Sunday reported this mornin...,bias,weiner fbi hillary email investigation,red state fox news anthony weiner fbi hillary ...,0
3,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,bias,donald j. trump,kayla mueller isis carl mueller donald trump,0
4,FANTASTIC! TRUMPS 7 POINT PLAN To Reform Healt...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,bias,notokes,house senate obamacare obamacare democrats oba...,0

In [9]:
real_news_content = pd.read_csv('/Users/briankalinowski/Desktop/Data/real_news_nlp_content.csv')
real_news_content['valid_score'] = 1
real_news_content.head()

,title,text,type,tokenized_headline,tokenized_content,valid_score
0,New Guideline Will Allow FirstYear Doctors to ...,doctors in training will now be permitted to w...,New York Times,new york times,united states accreditation council graduate m...,1
1,Retesting of Doping Samples Could Bar Dozens F...,Dozens of athletes expecting to compete at the...,New York Times,new york times,rio de janeiro games international olympic com...,1
2,Alis Least Memorable Fight The New York Times,"Muhammad Ali, who died Friday, was part of som...",New York Times,alis,muhammad ali united states bicentennial ali to...,1
3,Protests Erupt in Charlotte After Police Kill ...,"About 16 police officers in Charlotte, N. C. w...",New York Times,protest charlotte new york times,charlotte n. c. interstate kerr putney univers...,1
4,Amy Adams on Eyes That Deceive The New York Times,Amy Adams has received five Oscar nominations ...,New York Times,amy adams new york times,amy adams oscar denis villeneuves arrival holl...,1

In [11]:
real_and_fake_news = fake_news_content.append(real_news_content, ignore_index=True)

In [14]:
real_and_fake_news.valid_score.value_counts()

1    14484
0    12357
Name: valid_score, dtype: int64

In [23]:
news_content_final = real_and_fake_news[real_and_fake_news.tokenized_content != 'notokes']

In [24]:
news_content_final.valid_score.value_counts()

1    14477
0    11750
Name: valid_score, dtype: int64

In [25]:
news_content_final.shape

(26227, 6)

In [28]:
news_content_final.to_csv('/Users/briankalinowski/Desktop/Data/news_content_final.csv', header=True, index=None)

In [29]:
final_test = pd.read_csv('/Users/briankalinowski/Desktop/Data/news_content_final.csv')
final_test.head()

,title,text,type,tokenized_headline,tokenized_content,valid_score
0,Muslims BUSTED They Stole Millions In Govt Ben...,Print They should pay all the back all the mon...,bias,muslims,somalis,0
1,Re Why Did Attorney General Loretta Lynch Plea...,Why Did Attorney General Loretta Lynch Plead T...,bias,loretta lynch,loretta lynch barracuda brigade iran loretta l...,0
2,BREAKING Weiner Cooperating With FBI On Hillar...,Red State Fox News Sunday reported this mornin...,bias,weiner fbi hillary email investigation,red state fox news anthony weiner fbi hillary ...,0
3,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,bias,donald j. trump,kayla mueller isis carl mueller donald trump,0
4,FANTASTIC! TRUMPS 7 POINT PLAN To Reform Healt...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,bias,notokes,house senate obamacare obamacare democrats oba...,0

In [26]:
real_news_raw = pd.read_csv('/Users/briankalinowski/Desktop/Data/General_News/all_the_news.csv')

In [27]:
real_news_content = real_news_raw[['title', 'content', 'publication']]

real_news_content = real_news_content.rename(columns={'content': 'text', 'publication': 'type'})

real_news_content = real_news_content.dropna()

real_news_content.head()

,title,text,type
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...,New York Times
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood...",New York Times
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri...",New York Times
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t...",New York Times
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ...",New York Times

In [28]:
real_news_content.type.value_counts()

Breitbart              23781
New York Post          17493
NPR                    11992
CNN                    11488
Washington Post        11114
Reuters                10709
Guardian                8681
New York Times          7803
Atlantic                7179
Business Insider        6757
National Review         6203
Talking Points Memo     5213
Vox                     4947
Buzzfeed News           4854
Fox News                4354
Name: type, dtype: int64

In [29]:
real_news_content.isnull().sum()

title    0
text     0
type     0
dtype: int64

In [ ]:
# news_content['content_length'] = news_content.content.str.len()

In [31]:
word_length = real_news_content.text.str.replace('[^0-9a-zA-Z .!?,]', '', regex=True).str.split(' ').str.len()

In [34]:
real_news_content['word_len'] = word_length

In [35]:
real_news_content.head()

,title,text,type,word_len
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...,New York Times,920
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood...",New York Times,4905
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri...",New York Times,2521
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t...",New York Times,2212
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ...",New York Times,741

In [69]:
lower_len = word_length.mean()

upper_len = word_length.mean() + (word_length.std() * 3)



real_news_content[(real_news_content.type == 'New York Times') & 
                  (real_news_content.word_len >= lower_len) &
                  (real_news_content.word_len < upper_len)].nsmallest(1000, 'word_len')

,title,text,type,word_len
2460,Yellen Signals Shift From Stimulating Economy ...,"Janet L. Yellen, the Federal Reserve chairwoma...",New York Times,780
2463,Marvel Will Discipline Artist Who Sneaked Poli...,"The have battled evil mutants, killer robots...",New York Times,780
3253,"Dallas, Republican Party, Britain: Your Monday...",(Want to get this briefing by email? Here’s th...,New York Times,780
4501,How to break up with a friend - The New York T...,This article is part of a series aimed at help...,New York Times,780
7764,From Putin’s Hands: A Russian Passport for Ste...,"Steven Seagal, the American actor whose career...",New York Times,780
...,...,...,...,...
6934,Montreal’s Pit Bull Ban Is Suspended Until Wed...,A Canadian judge on Monday temporarily suspend...,New York Times,932
1965,"Of Horse v. Duck, Mutton Busting and Other Con...",WASHINGTON — In the seventh hour of questio...,New York Times,933
2142,"Brexit, Chris Christie, Ivanka Trump: Your Wed...",(Want to get this briefing by email? Here’s th...,New York Times,933
4461,Want Co-Workers to Vote Your Way? Then Stop Pe...,"Every four years, I notice a dramatic increase...",New York Times,933
5007,"In Montreal, an Ungainly and Unloved Christmas...",MONTREAL — The idea was to celebrate Montre...,New York Times,933

In [107]:
# All 15 of our publications
pubs_list = list(real_news_content.type.unique())

# average word length
lower_len = int(round(word_length.mean()))

# avg word length + 3*std 
upper_len = int(round(word_length.mean() + (word_length.std() * 3)))


real_news_pub_subset = pd.DataFrame()
for publication in pubs_list:   
    # get 1000 articles within the word length range
    pub_df = real_news_content[(real_news_content.type == publication) & 
                               (real_news_content.word_len >= lower_len) &
                               (real_news_content.word_len <= upper_len)].nsmallest(1000, 'word_len')
    
    # append to 1 df 
    real_news_pub_subset = real_news_pub_subset.append(pub_df, ignore_index=True)

In [108]:
real_news_pub_subset.head()

,title,text,type,word_len
0,New Guideline Will Allow First-Year Doctors to...,doctors in training will now be permitted to...,New York Times,779
1,Retesting of Doping Samples Could Bar Dozens F...,Dozens of athletes expecting to compete at the...,New York Times,779
2,Ali’s Least Memorable Fight - The New York Times,"Muhammad Ali, who died Friday, was part of som...",New York Times,779
3,Protests Erupt in Charlotte After Police Kill ...,"About 16 police officers in Charlotte, N. C. w...",New York Times,779
4,Amy Adams on Eyes That Deceive - The New York ...,Amy Adams has received five Oscar nominations ...,New York Times,779

In [109]:
real_news_pub_subset.shape

(14484, 4)

In [110]:
real_news_pub_subset.type.value_counts()

Breitbart              1000
Atlantic               1000
Washington Post        1000
Buzzfeed News          1000
Business Insider       1000
National Review        1000
New York Post          1000
NPR                    1000
CNN                    1000
New York Times         1000
Vox                    1000
Guardian               1000
Reuters                1000
Fox News                907
Talking Points Memo     577
Name: type, dtype: int64

In [115]:
real_news_final = real_news_pub_subset[['title', 'text', 'type']]

In [119]:
real_news_final.head()

,title,text,type
0,New Guideline Will Allow First-Year Doctors to...,doctors in training will now be permitted to...,New York Times
1,Retesting of Doping Samples Could Bar Dozens F...,Dozens of athletes expecting to compete at the...,New York Times
2,Ali’s Least Memorable Fight - The New York Times,"Muhammad Ali, who died Friday, was part of som...",New York Times
3,Protests Erupt in Charlotte After Police Kill ...,"About 16 police officers in Charlotte, N. C. w...",New York Times
4,Amy Adams on Eyes That Deceive - The New York ...,Amy Adams has received five Oscar nominations ...,New York Times

In [120]:
save_path = '/Users/briankalinowski/Desktop/Data/General_News/real_news.csv'
real_news_final.to_csv(path_or_buf=save_path, header=True, index=None)

In [121]:
test = pd.read_csv('/Users/briankalinowski/Desktop/Data/General_News/real_news.csv')
test.head()

,title,text,type
0,New Guideline Will Allow First-Year Doctors to...,doctors in training will now be permitted to...,New York Times
1,Retesting of Doping Samples Could Bar Dozens F...,Dozens of athletes expecting to compete at the...,New York Times
2,Ali’s Least Memorable Fight - The New York Times,"Muhammad Ali, who died Friday, was part of som...",New York Times
3,Protests Erupt in Charlotte After Police Kill ...,"About 16 police officers in Charlotte, N. C. w...",New York Times
4,Amy Adams on Eyes That Deceive - The New York ...,Amy Adams has received five Oscar nominations ...,New York Times